{% extends 'base.html.twig' %}

{% block body %}
    <!-- Breadcrum -->
    <div class="row bs-wizard col-lg-4 offset-md-4" style="border-bottom:0;">
        <div class="col-4 bs-wizard-step complete">
          <div class="text-center bs-wizard-stepnum">Mon profil</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
        </div>

        <div class="col-4 bs-wizard-step disabled"><!-- complete -->
          <div class="text-center bs-wizard-stepnum">Mon animal</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
        </div>

        <div class="col-4 bs-wizard-step disabled"><!-- complete -->
          <div class="text-center bs-wizard-stepnum">Mon tarif</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
        </div>
    </div>

    <!-- Form -->
    <form action="{{ path('app.devis') }}" method="post" class="container-fluid py-3">
        {{ form_widget(form._token) }}

        <div class="form-group row">
            <div class="col-lg-4 offset-md-4">
                <label for="exampleInputEmail1">
                    {{ form_label(form.email) }}
                </label>
                {{ form_widget(form.email, {
                    attr: { class: 'form-control', placeholder: 'Votre email'}
                })}}
                {{ form_errors(form.email) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-4 offset-md-4">
                <input type="submit" class="btn btn-large btn-primary-green btn-block" value="{{ 'profil.next'|trans }}" />
            </div>
        </div>
    </form>


    <!-- Help -->
    <div class="pt-5">
        <div class="mk-help">
            <h4 class="text-center">Besoin d'aide ? Appelez-nous !</h4>
            <h1 class="text-center">09 70 100 500</h1>
        </div>
    </div>
{% endblock %}