{% extends 'BackendBundle:Security:layout.html.twig' %}

{% trans_default_domain 'BackendBundle' %}

{% block title_content %}
    {{ 'security.login.title'|trans }}
{% endblock title_content %}

{% block security_content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            {{ 'security.login.title'|trans }}
        </div>
        <form action="{{ path('admin_login') }}" method="post">
            <div class="panel-body">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}


                <div class="form-group">
                    <label for="username">{{ 'security.login.username'|trans }}:</label>
                    <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" />
                </div>

                <div class="form-group">
                    <label for="password">{{ 'security.login.password'|trans }}:</label>
                    <input type="password" id="password" name="_password" class="form-control" />
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="_remember_me"> {{ 'security.login.remember_me'|trans }}
                    </label>
                </div>

            </div>
            <div class="panel-footer text-right">
                <button type="submit" class="btn btn-primary">
                    {{ 'security.login.submit'|trans }}
                </button>
            </div>
        </form>
    </div>
{% endblock security_content %}